{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <h2>Dashboard</h2>
    {% if unmarked %}
      <hr>
      <h2>New Transactions</h2>
      <table class="table">
        {% for value in unmarked %}
          <tr>
            <th>Amount (Rs.)</th>
            <th>Date & Time</th>
            <th></th>
          </tr>
          <tr>
            <td>{{ value.amount }}</td>
            <td>{{ value.date }}</td>
            <td><a href="update/{{ value.id }}"><button class="btn btn-danger">Confirm and Close</button></a></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
    {% endif %}
    <a href="send/"><button class="btn btn-primary">Transfer Money</button></a>
  {% else %}
    <h2>Money Wallet, makes your day easy.</h2>
  {% endif %}
{% endblock %}